@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="~/img/Background.png" alt="Skin Care Products" class="img-fluid">
        </div>
        <div class="col-md-6 text-center text-md-start">
            <h2>We Care About Your Skin</h2>
            <p>It's a Perfect Start for your Skin Care. The product collections are designed with your skin's health in mind. From Body lotions to hydrating moisturizers, find everything you need to begin your journey towards a radiant complexion.</p>
        @if(User.IsInRole ("Administrator") )
            {
            <a class="btn btn-primary" asp-area="" asp-controller="Lotions" asp-action="Index">Explore</a>
            }
        </div>
    </div>
</div>

@if (User.IsInRole("Admin"))
{
    <h1>Hi Admin</h1>
} else
{
    
}
